.container-button-cv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.button-cv{
    color:#FFE4E1;
    background-color: #FF69B4;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-color: transparent;
    border-radius: 10px;
    font-family: "Petrona", serif;
}
.button-cv > a{
    font-size: 14px;
}
@media screen and (min-width: 576px) {
    .button-cv{
        width: auto;
        height: 30px;
    }
    .button-cv > a{
        font-size: 16px;
    }
}
@media screen and (min-width: 768px){
   
    .button-cv{
       height: 50px;
    }
    .button-cv > a{
        font-size: 16px;
    }
}
@media (768px <= width <= 1200px){
    .button-cv{
        font-size: 20px;
    }
}